:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --roboto-font: 'Roboto', sans-serif;
  --raleway-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--roboto-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo__link {
  font-family: var(--raleway-font);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.black {
  color: #000000;
}

.white {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .logo__link {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__link {
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.hero__btn,
.subs__btn,
.send__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.06em;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white-color);
  fill: 212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-text-color);
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--primary-text-color);
}

.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-text-color);
}

.menu-btn .icon__menu-close {
  display: none;
}

.menu-btn.is-open .icon__menu-close {
  display: block;
}

.menu-btn.is-open .icon__menu-close {
  display: block;
}

.menu-btn.is-open .icon__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    background-color: var(--white-color);
  }
  .menu.is-open {
    display: block;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

/*
.nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav__link {
  color: var(--primary-text-color);
  position: relative;
  font-weight: 500;
  font-style: normal;
  line-height: 1.166;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}

.nav__link:not(:last-child) {
  margin-bottom: 40px;
}

.active {
  color: var(--accent-text-color);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.166;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .nav {
    display: block;
    padding: 60px 0;
  }
  .menu-btn__icon {
    margin-left: 260px;
  }
  .nav__list {
    display: block;
    margin: 0 auto;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .contacts {
    display: block;
    margin-bottom: 60px;
  }
  .contacts__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .envelope {
    width: 14px;
    height: 10px;
  }
  .smartphone {
    width: 10px;
    height: 14px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__link.current::after {
    content: '';
    bottom: -1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    margin-left: 88px;
    margin-right: 80px;
  }
  .contacts__icon {
    margin-right: 8px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
  }
  .nav__list {
    margin: 0;
  }
  .menu {
    width: 930px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: auto;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.142;
  }
  .envelope {
    width: 16px;
    height: 12px;
  }
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

.address {
  margin-top: 20px;
}

.footer__address {
  margin-bottom: 60px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--roboto-font);
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social {
  width: 206px;
  margin: 0 auto;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: #ffffff10;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.footer-social__icon {
  fill: currentColor;
}

.subs__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  min-width: 450px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs__input:focus {
  outline: 1px solid var(--accent-text-color);
}

.subs__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subs__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subs__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subs__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.subs__form {
  display: block;
  width: 450px;
  margin-top: 60px;
}

.subs__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__send {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__address {
    margin-right: 165px;
    margin-bottom: 0;
  }
  .footer__social {
    margin: 0;
    padding-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__address {
    width: 231px;
    margin: 0;
  }
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social {
    margin: 0 93px 0 70px;
  }
  .subs__form {
    margin: 0;
    width: 358px;
  }
  .subs__input {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 358px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__item {
  display: block;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;
  font-family: var(--roboto-font);
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 91px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 38px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 38px;
    margin-bottom: 50px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__discription {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__name {
  color: var(--primary-text-color);
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
}

.projects__title {
  color: var(--secondary-text-color);
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.03;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .overlay,
.projects__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .projects__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .overlay {
    padding: 49px 24px;
  }
  .projects__list:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .projects__list:not(:last-child) {
    margin-bottom: 30px;
  }
  .projects__name {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects__list {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
  }
  .projects__list:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*# sourceMappingURL=portfolio.css.map */