.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--white-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
