.logo__link {
  font-family: var(--raleway-font);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.black {
  color: #000000;
}

.white {
  color: var(--white-color);
}
