/*
.hero__btn,
.subs__btn,
.send__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.06em;
  line-height: 1.87;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white-color);
  fill: 212121;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}
*/
