:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --roboto-font: 'Roboto', sans-serif;
  --raleway-font: 'Raleway', sans-serif;
}
